/* Debug border colors */
body {
    display: flex;
    height: 98vh;
    padding: 5px;
    margin: 5px;
	/* border: 2px solid black; */
    color: #CCC;
    background: #24242e;
    font-family:"Roboto Flex", sans-serif;
    font-weight: 400;
    font-size: x-large;
    padding: 20px;
}


.container {
    display: flex;
    flex-grow: 1;
    /* gap: 10px; */
    width: auto;
    height: auto;
	/* border: dashed blue; */
}

.side_bar {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    min-width: 20vw;
	/* border: 1px solid #448; */
    border-right: 1px solid #FF8E8E;
    padding: 10px;
}

.bar_header {
    display: flex;
    flex-direction: column;
    color: #fff;
    min-height: 30vh;
	/* border: 1px solid green; */
    padding: 10px;
}

.name {
    font-size: 2.35em;
    font-weight: 100;
    line-height: 1.1;
    margin-bottom: 20px;
    /* border: 1px solid #fff; */
}

.contact {
    font-size: small;
    font-weight: 100;
}

.nav_button {
	/* border: 2px solid yellow; */
    font-weight: 200;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
    padding: 5px;
    justify-content: space-between;
	/* border: 1px solid orange; */
    overflow: hidden; /* Clears the float */
}

.recent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: right;
	/* border: 2px solid purple; */
    padding: 5px;
}


.r_head {
    align-self: flex-end;
    font-weight: 250;
    font-size: 1.2em;
    margin: 5px;
}

.jump_link {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.post_body p {
    text-indent: 2em;
    line-height: 1.75;
    font-size: small;
    font-weight: 400;
}

.post_header {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 20px;
    color: #fff;
}

.post_subtitle {
    font-size: .8em;
    color: #FF8E8E;
    line-height: 1;
    margin-bottom: 50px;
}

.post_info {
    font-size: .65em;
    font-style: italic;
    font-weight: 350;
    line-height: 0;
    color: #888;
}


.post_title {
    display: flex;
    font-size: .9em;
    font-weight: 200;
    line-height: 1;
    min-width: 20vw;
    max-width: 20vw;
    justify-content: flex-end;
    text-align: end;
    color: #fff;
}

.post_date {
    align-self: flex-end;
    line-height: 1;
    font-size: small;
    font-weight: 300;
    color: #888;
}

.r_fill {
    min-height: 30vh;
}

.feed {
	/* border: 2px solid pink; */
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto; /* Enable vertical scrollbar if needed */
}
