/* Debug border colors */
:root {
    --black: #050505;
    --dark:  #444;
    --pale:  #666;
    --light: #ccc;
    --hl:    #b26;

    --thin: 200;
    --norm: 300;
    --text: 400;
    --bold: 500;
    --thic: 700;

    --title:    5em;
    --name:     4em;
    --sub_t:    1.5em;
    --navi:     1.5em;
    --read:     1em;
    --small:    0.8em;
    --info:     1.25em;
}
body {
    display: flex;
    height: 100vh;
    box-sizing: content-box;
    padding: 5px;
    margin: 5px;
    background: #fff;
    font-family:"Roboto Flex", sans-serif;
    color: var(--black);
	/* border: 2px solid black; */
}
a {
    text-decoration: none;
    color: var(--black);
}
/*
 *   -- Main Container --
 */
.container {
    display: flex;
    flex-grow: 1;
    width: auto;
    height: auto;
	/* border: 1px dashed blue; */
}
/*
*   -- Navigation Column --
*/
.side_bar {
    display: flex;
    flex-direction: row;
    height: 90vh;
    gap: 5px;
    min-width: 30vw;
    padding: 10px;
	/* border: 1px solid #448; */
}

.site_nav {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #000;
    width: 50%;
    /* border: 1px solid #748; */
}
.bar_header {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    padding: 10px;
	/* border: 1px solid green; */
}
.name {
    line-height: 1.1;
    margin-bottom: 20px;
	font-weight: var(--thin);
    font-size: var(--name);
    /* border: 1px solid #fff; */
}

.contact {
	font-weight: var(--text);
}

.contact b {
	font-weight: var(--text);
    color: var(--hl);
}
.meta {
    display: none;
    visibility: collapse;
}
.nav_button {
    padding: 10px;
    border-radius: 10px;
    transition: background .5s;
	font-weight: var(--norm);
    font-size: var(--navi);
}
.nav_button:hover {
    border-radius: 10px;
    background: #ECD;
    transition: background .3s;
}
/*                  */
/* Jump_link Column */
/*                  */
.recent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: right;
    padding: 10px;
    width: 50%;
	/* border: 1px solid purple; */
}


.r_head {
    align-self: flex-end;
    margin: 5px;
	font-weight: var(--norm);
    font-size: var(--navi);
}
.r_title {
    display: flex;
    line-height: 1;
    justify-content: flex-end;
    text-align: end;
	font-weight: var(--thin);
    font-size: var(--navi);
}

.r_date {
    align-self: flex-end;
    line-height: 1;
	font-weight: var(--thic);
    font-size: var(--small);
    font-style: italic;
    color: var(--pale);
}
.r_fill {
    min-height: 30vh;
}
.jump_link {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0px;
    border-radius: 10px;
    transition: background .5s;
}
.jump_link:hover {
    border-radius: 10px;
    background: #DFDCEF;
    transition: background .3s;
}
/*
 *  -- Post Styling --
 */
.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
    padding: 5px;
    justify-content: space-between;
    overflow: visible; /* Clears the float */
	/* border: 1px solid orange; */
}
.post {
    display: flex;
    flex-direction: column;
}

.post_body {
    display: flex;
    flex-wrap: wrap;
    max-width: 50vw;
    border-bottom: 1px solid var(--black);
    margin-bottom: 50px;
}
.post_body p {
    text-indent: 2em;
    line-height: 1.75;
	font-weight: var(--text);
}
.post_body img {
    padding: 20px;
    max-width: 100%;
}

.post_header {
    margin-bottom: 20px;
	font-weight: var(--thin);
    font-size: var(--title);
}

.post_subtitle {
    line-height: 1;
    margin-bottom: 50px;
    font-size: var(--sub_t);
    color: var(--hl);
}

.post_info {
    font-style: italic;
    line-height: 0;
	font-weight: var(--bold);
    font-size: var(--info);
    color: var(--light);
}
.feed {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto; /* Enable vertical scrollbar if needed */
	/* border: 2px solid pink; */
}
@media only screen and (max-width: 1080px){
    .container {
        display: flex;
        flex-direction: column;
    }
    .side_bar {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .site_nav {
        border-right: 0px #fff;
        align-self: center;
        text-align: center;
    }
    .recent {
        display: none;
    }
    .content {
        overflow: visible;
    }
    .post_body {
        max-width: 90vw;
    }
}
