:root {
    --light: #aaa;
    --dark: #888;
    --hover: #e8f1ff;
    --link: #2e94b0;
}

body {
    font-family: "Trebuchet MS", sans-serif;
    font-weight: 100;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
    color: var(--link);
}

a:hover {
    background-color: var(--hover)
}

/* PROJECT BODY */
#p-expanded {
    height: 90vh;
    max-height: 90vh;
    width: 0vw;
    overflow: auto;
    max-width: 750px !important;
    transition: width 1s ease-in-out;
    border-left: 1px solid var(--dark);
 }

.open {
    min-width: 500px;
}

.project_body {
    display: block;
}

 .project_body > h3 {
    font-size: 2em;
    color: var(--link);
    text-decoration: underline var(--hover);
    margin: .5em 0 0 0;
 }

.project_body > p {
    text-indent: 1em;
    font-size: .9em;
    /*line-height: 125%;*/
}

.project_body > img {
    display: flex;
    font-size: .8em;
    color: #888;
    align-content: center;
    justify-content: center;
    padding: 8px;
    width: 100%; 
}


.main {
    display: flex;
    flex-flow: row-reverse;
    gap: .5em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    gap: 0 10%;
    border-bottom: 1px solid var(--dark)
}

.header > p, .header > a {
    text-transform: uppercase;
}
#me > h2 {
    margin: 0em;
}

#me > p {
    margin-top: .25em;
    color: var(--dark);
}
.wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

/* PROJECT CARDS */

.project {
    background-color: white;
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-direction: row;
    max-height: 350px;
}

.project:hover {
    background-color: var(--hover);
}
.p-info {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: .25em;
}

.p-title {
    font-size: 1.5em;
    margin: 0em;
}
.tag {
    font-size: .75em;
    color: var(--dark);
}

.description {
    max-width: 500px;
}

.gallery {
    height: 150px;
    width: 200px;
}

.gallery > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project_wrapper {
    display: grid;
    padding: 1em;
}

.project_img > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* .debug { */
/*     border: 1px solid red; */
/* } */


/* SMALLER SCREEN */
@media only screen and (max-width: 880px){
.p-title {
    font-size: 1.25em;
}
.description {
    margin-top: 0em;
    font-size: .80em;
}
.tag {
    display: none;
}
.wrapper {
    flex: 1;
}
.project {
   flex-direction: column;
   min-width: 250px;
}

.gallery {
    width: 100%;
    height: 50px;
}
}

/* MOBILE */
@media only screen and (max-width: 768px){
    #p-expanded {
        border-left: none;
        transition: none;
    }

    .open {
        min-width: 100%;
    }

    .project_body > h3 {
        font-size: 1.25em;
    }

    .project_body > p {
        text-indent: .5em;
        font-size: .85em;
    }
}
